@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using CowboyCafe.Data;

<h1>Cowboy Cafe</h1>
<p>
    We at Cowboy Cafe are proud to bring you authentic
    trail meals from the American West. Shake off the
    dust on your boots and sake your thirst with one
    of our old-fashioned hand-jerked sodas. Dip your
    Pan de Campo into a bowl of beans. Or conquer the
    the mighty Texas Triple Burger! You’ve had a hard
    ride - so take it easy with us.
</p>

<div id="search">
    <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
    <input type="submit" value="Search">
</div>

<div id="filters">

    <h4>Food Type</h4>
    <label>
        <input type="checkbox" name="FoodType" value="Entree"/>
        Entree
    </label>
    <label>
        <input type="checkbox" name="FoodType" value="Side"/>
        Side
    </label>
    <label>
        <input type="checkbox" name="FoodType" value="Drink"/>
        Drink
    </label>

    <h4>Calories</h4>
    <div>
        Between
        <input name="CaloriesMin" type="number" min="0" max="1000" step="1" placeholder="min" />
        and
        <input name="CaloriesMax" type="number" min="0" max="1000" step="1" placeholder="max" />
    </div>

    <h4>Price</h4>
    <div>
        Between
        <input name="PriceMin" type="number" min="0" max="100" step="0.01" placeholder="min" />
        and
        <input name="PriceMax" type="number" min="0" max="100" step="0.011" placeholder="max" />
    </div>

</div>

<div id="results">
    <h1>Menu Results</h1>

    <ul class="menu-list">
        @foreach (IOrderItem item in @Model.items)
        {
            <li>
                <div class="details">
                    <h3 class="Type">@item.GetType()</h3>
                    <div class="Calories">@item.Calories</div>
                    <div class="Price">@item.Price</div>
                </div>
            </li>
        }

    </ul>
</div>



<h2>Entrees</h2>

@foreach (Entree e in Menu.Entrees())
{
    <div class="menu-item">
        <h5>@e.ToString()</h5>
        <header>@e.Price.ToString("C")</header>
        <header>@e.Calories Calories</header>
    </div>
}

<h2>Sides</h2>

@foreach (Side s in Menu.Sides())
{
    <div class="menu-item">
        <h5>@s.ToString()</h5>
        <header>Small @s.Price.ToString("C") | @s.Calories Calories</header>
        <header>Medium @s.Price.ToString("C") | @s.Calories Calories</header>
        <header>Large @s.Price.ToString("C") | @s.Calories Calories</header>
    </div>
}


<h2>Drinks</h2>
@foreach (Drink d in Menu.Drinks())
{
    <div class="menu-item">
        <h5>@d.ToString()</h5>
        <header>Small @d.Price.ToString("C") | @d.Calories Calories</header>
        <header>Medium @d.Price.ToString("C") | @d.Calories Calories</header>
        <header>Large @d.Price.ToString("C") | @d.Calories Calories</header>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
